<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Connection string for SQL Server-->
		<add name="sqlConnectionStr" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=SANDBOX;User Id=testuser;Password=test;"/>
	</connectionStrings>
	<appSettings>
		<!--This is the system name for the service.  Do not change if service is installed.-->
		<add key="serviceName" value="PrintQueueToSql"/>

		<!--Location of InstallUtil.exe file in the .NET framework-->
		<add key="dotnetDir" value="C:\Windows\Microsoft.NET\Framework64\v4.0.30319"/>

		<!--Edit these to change what shows for Name and Description in Services-->
		<add key="serviceDisplayName" value="HighJump Print Queue to SQL"/>
		<add key="serviceDescription" value="Syncs the number of jobs in printer queues to SQL"/>

		<!--Time in milliseconds to poll the printer queues-->
		<add key="printerPollInterval" value="10000"/>

		<!--Table and column names for printers-->
		<add key="sqlTableName" value="t_printer_queues"/>
		<add key="sqlNameColumn" value="printer_name"/>
		<add key="sqlJobsColumn" value="number_of_jobs"/>
		<add key="sqlStatusColumn" value="printer_status"/>

		<!--Stored procedure and parameter names to update data into table-->
		<add key="sqlStoredProcedureUpdate" value="usp_sync_printer_queue"/>
		<add key="sqlParamPrinterName" value="@in_vchPrinterName"/>
		<add key="sqlParamPrinterStatus" value="@in_vchPrinterStatus"/>
		<add key="sqlParamJobsInQueue" value="@in_nJobsInQueue"/>

		<!--LOGGING: 0 - Disabled, 1 - Enabled-->
		<add key="loggingEnabled" value="1"/>		
		<!--Maximum size of log files in KiloBytes-->
		<add key="maxLogSize" value="50"/>
		<!--Time in seconds to run log maintenance-->
		<add key="maintInterval" value="600"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0"/>
	</startup>
</configuration>